<launch>
<node name="rosues_talker"   pkg="roseus" type="roseus" args="$(find roseus)/test/talker.l"  output="screen"
      launch-prefix="xterm -T talker -geometry 80x10 -e " />
<node name="roseus_listener" pkg="roseus" type="roseus" args="$(find roseus)/test/listener.l"  output="screen"
      launch-prefix="xterm -T listener -geometry 80x10 -e " />
</launch>
