<launch>
<node name="add_two_ints_server" pkg="roseus" type="roseus" args="$(find roseus)/test/add-two-ints-server.l"  output="screen"
      launch-prefix="xterm -T server -geometry 80x10 -e " />
<node name="add_two_ints_client" pkg="roseus" type="roseus" args="$(find roseus)/test/add-two-ints-client.l"  output="screen"
      launch-prefix="xterm -T client -geometry 80x10 -e " />
</launch>
