<launch>
<node name="fibonacci-server.l"   pkg="roseus" type="runeus"  output="screen"
      launch-prefix="xterm -T server -geometry 80x10 -e " />
<node name="fibonacci" pkg="actionlib_tutorials" type="fibonacci_client.py" output="screen"
      launch-prefix="xterm -T client -geometry 80x10 -e " />
</launch>
