<launch>

  <sphinxdoc><![CDATA[

irteusgl examples
------------------------

.. image:: build/full_body_ik.gif
  :width: 400

.. image:: build/dual_arm_ik.gif
  :width: 400

.. image:: build/dual_manip_ik.gif
  :width: 400

.. image:: build/crank_motion.gif
  :width: 400

.. image:: build/hand_grasp.gif
  :width: 400

.. image:: build/hanoi_arm.gif
  :width: 400

.. image:: build/particle.gif
  :width: 400

robots and object models
------------------------

.. code-block:: bash

  $ irteusgl models/irt-all-robots.l "(make-all-robots)"

.. image:: build/irt_all_robots.png
  :width: 400

.. code-block:: bash

  $ irteusgl models/irt-all-objects.l "(make-all-objects)"

.. image:: build/irt_all_objects.png
  :width: 400

  ]]></sphinxdoc>



  <test test-name="test_sortgc" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/sort.l" />
  <test test-name="test_bignum" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/bignum.l" />
  <test test-name="test_vector" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/vector.l" />
  <test test-name="test_read_img" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/read-img.l"
	time-limit="600" >
	<!-- launch-prefix=xterm -e gdb args -->
  </test>
  <atest test-name="test_graph" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/graph.l"
	time-limit="600" />

  <test test-name="test_full_body_ik_demo" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l irteus/demo/demo.l  (setq\ demo-func\ #\'full-body-ik) $(find euslisp)/test/irteus-demo.l"
        launch-prefix="glc-capture --start --out=$(find euslisp)/build/full_body_ik.glc"
	time-limit="600" />
  <test test-name="test_dual_arm_ik_demo" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l irteus/demo/demo.l  (setq\ demo-func\ #\'dual-arm-ik) $(find euslisp)/test/irteus-demo.l"
        launch-prefix="glc-capture --start --out=$(find euslisp)/build/dual_arm_ik.glc"
	time-limit="600" />
  <test test-name="test_dual_manip_ik_demo" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l irteus/demo/demo.l  (setq\ demo-func\ #\'dual-manip-ik) $(find euslisp)/test/irteus-demo.l"
        launch-prefix="glc-capture --start --out=$(find euslisp)/build/dual_manip_ik.glc"
	time-limit="600" />
  <test test-name="test_crank_motion_demo" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l irteus/demo/demo.l  (setq\ demo-func\ #\'crank-motion) $(find euslisp)/test/irteus-demo.l"
        launch-prefix="glc-capture --start --out=$(find euslisp)/build/crank_motion.glc"
	time-limit="600" />
  <test test-name="test_hand_grasp_demo" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l irteus/demo/demo.l  (setq\ demo-func\ #\'hand-grasp) $(find euslisp)/test/irteus-demo.l"
        launch-prefix="glc-capture --start --out=$(find euslisp)/build/hand_grasp.glc"
	time-limit="600" />
  <test test-name="test_hanoi_arm_demo" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l irteus/demo/demo.l  (setq\ demo-func\ #\'hanoi-arm) $(find euslisp)/test/irteus-demo.l"
        launch-prefix="glc-capture --start --out=$(find euslisp)/build/hanoi_arm.glc"
	time-limit="600" />
  <test test-name="test_particle_demo" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l irteus/demo/demo.l  (setq\ demo-func\ #\'particle) $(find euslisp)/test/irteus-demo.l"
        launch-prefix="glc-capture --start --out=$(find euslisp)/build/particle.glc"
	time-limit="600" />
  <test type="glc_encode.sh" pkg="jsk_tools" test-name="z_test_full_body_ik" args="$(find euslisp)/build/full_body_ik.glc" time-limit="1000"/>
  <test type="glc_encode.sh" pkg="jsk_tools" test-name="z_test_dual_arm_ik" args="$(find euslisp)/build/dual_arm_ik.glc" time-limit="1000"/>
  <test type="glc_encode.sh" pkg="jsk_tools" test-name="z_test_dual_manip_ik" args="$(find euslisp)/build/dual_manip_ik.glc" time-limit="1000"/>
  <test type="glc_encode.sh" pkg="jsk_tools" test-name="z_test_crank_motion" args="$(find euslisp)/build/crank_motion.glc" time-limit="1000"/>
  <test type="glc_encode.sh" pkg="jsk_tools" test-name="z_test_hand_grasp" args="$(find euslisp)/build/hand_grasp.glc" time-limit="1000"/>
  <test type="glc_encode.sh" pkg="jsk_tools" test-name="z_test_hanoi_arm" args="$(find euslisp)/build/hanoi_arm.glc" time-limit="1000"/>
  <test type="glc_encode.sh" pkg="jsk_tools" test-name="z_test_particle" args="$(find euslisp)/build/particle.glc" time-limit="1000"/>

  <test test-name="test_all_robots" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/robots-objects.l"
	time-limit="600" />
  <test test-name="test_all_objects" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/all-robots-objects.l"
	time-limit="600" />
</launch>
