<launch>
  <test test-name="test_sortgc" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/sort.l" />
  <test test-name="test_bignum" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/bignum.l" />
  <test test-name="test_vector" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/vector.l" />
  <test test-name="test_read_img" pkg="euslisp"
	type="irteusgl" args="$(find roseus)/euslisp/unittest.l $(find euslisp)/test/read-img.l"
	time-limit="600" >
	<!-- launch-prefix=xterm -e gdb args -->
  </test>
</launch>
