<launch>
  <node pkg="sound_play" type="soundplay_node.py" name="soundplay_node">
    <env name="PATH" value="$(find aques_talk):$(env PATH)" />
    <remap from="robotsound" to="robotsound_jp" />
  </node>
  <sphinxdoc><![CDATA[

This script start sound synthesis deriver

Try

.. code-block:: bash

  rosrun roseus_tutorial aques_talk.l

for the demonstration

  ]]></sphinxdoc>
</launch>
