<launch>
  <node name="camera_info_to_usb_cam_camera_info" pkg="topic_tools"
	type="relay" args="camera_info usb_cam/camera_info" />
  <node name="camera_image_to_usb_cam_camera_image" pkg="topic_tools"
	type="relay" args="image_raw usb_cam/image_raw" />
  <node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false" output="screen">
    <param name="marker_pattern_list" type="string" value="$(find roseus_tutorials)/launch/object_4x4_70"/>
    <param name="threshold" type="int" value="100"/>
  </node>
  <sphinxdoc><![CDATA[
to execute sample euslisp client program

.. code-block: bash
  rosrun roseus_tutorials ar-pose.l

or include

.. code-block: bash
  <node name="ar_pose_client" pkg="roseus_tutorials" type="ar-pose.l" />

in the launch file

  ]]></sphinxdoc>
</launch>
