<launch>
  <node name="camshiftdemo" pkg="jsk_perception"
	type="camshiftdemo" output="screen">
    <remap from="image" to="image_rect_color" />
    <remap from="screenrectangle" to="image_rect_color/screenrectangle" />
  </node>

  <sphinxdoc><![CDATA[
This script starts camshift demo

.. code-block:: bash

  rosrun roseus_tutorial camshiftdemo.l

is sample client program.
  ]]></sphinxdoc>

</launch>
