<launch>
  <node name="cmvision" pkg="cmvision" type="cmvision">
    <!--<remap from="image" to="image_view" />-->
    <remap from="image" to="image_rect_color" />
  </node>
  <rosparam param="/cmvision">
   mean_shift_on: true
   debug_on: true
   spatial_radius_pix: 2.0
   color_radius_pix: 40.0
  </rosparam>
</launch>
