<!-- -*- mode: xml -*- -->
<launch>
  <!--
  This is example to use hsi_color_filter in jsk_pcl_ros.
  To learn this sample, please see included file.
  To execute this example,
  $ roslaunch openni_launch openni.launch    ;; start kinect camera
  $ rosrun rqt_reconfigure rqt_reconfigure   ;; parameter settings
  $ roslaunch jsk_pcl_ros hsi_color_filter.launch DEFAULT_NAMESPACE:=/camera/depth_registered INPUT:=points
  ;; subscribe camera/depth_registered/hsi_output
  ;; subscribe tf and find /target
  -->
  <arg name="INPUT" default="hsi_input"/>
  <arg name="OUTPUT" default="hsi_output"/>
  <arg name="CENTROID_FRAME" default="target"/>
  <arg name="DEFAULT_NAMESPACE" default="HSI_color_filter"/>

  <arg name="h_max" default="127" />
  <arg name="h_min" default="-128" />
  <arg name="s_max" default="255" />
  <arg name="s_min" default="0" />
  <arg name="i_max" default="255" />
  <arg name="i_min" default="0" />

  <arg name="create_manager" default="true" />
  <arg name="manager" default="hsi_filter_manager" />

  <include file="$(find jsk_pcl_ros)/launch/hsi_color_filter.launch">
    <arg name="INPUT" default="$(arg INPUT)"/>
    <arg name="OUTPUT" default="$(arg OUTPUT)"/>
    <arg name="CENTROID_FRAME" default="$(arg CENTROID_FRAME)"/>
    <arg name="DEFAULT_NAMESPACE" default="$(arg DEFAULT_NAMESPACE)"/>

    <arg name="h_max" default="$(arg h_max)" />
    <arg name="h_min" default="$(arg h_min)" />
    <arg name="s_max" default="$(arg s_max)" />
    <arg name="s_min" default="$(arg s_min)" />
    <arg name="i_max" default="$(arg i_max)" />
    <arg name="i_min" default="$(arg i_min)" />

    <arg name="create_manager" default="$(arg create_manager)" />
    <arg name="manager" default="$(arg manager)" />
  </include>
</launch>
