<launch>
  <node name="image_view2" pkg="image_view2" type="image_view2" output="screen" >
    <remap from="image" to="image_rect_color" />
    <param name="autosize" value="true" />
    <param name="blurry" value="false" />
    <param name="window_name" value="image_view2" />
  </node>
  <sphinxdoc><![CDATA[
This script start imageview2, which is jsk extention version of image view that supports
image marker capabilities in order to draw the reuslt, coordinates, annotation  of target object, on the image view.
  ]]></sphinxdoc>
  
</launch>

