<launch>
  <arg name="CREATE_MANAGER" default="true" />
  <arg name="MANAGER_NAME" default="image_proc_manager" />
  <arg name="USE_DECIMATE" default="true" />

  <node if="$(arg CREATE_MANAGER)"
        pkg="nodelet" type="nodelet" name="$(arg MANAGER_NAME)"
        args="manager" output="screen"/>

  <include file="$(find image_proc)/launch/image_proc.launch" >
    <arg name="manager" value="$(arg MANAGER_NAME)" />
  </include>

  <group if="$(arg USE_DECIMATE)">
  <arg name="DECIMATE_CAMERA" default="" />
  <arg name="DECIMATE_IMAGE" default="image_rect_color" />
  <arg name="DECIMATE_OUTPUT_CAMERA" default="dcamera_output/" />
  <arg name="DECIMATE_OUTPUT_IMAGE" default="$(arg DECIMATE_IMAGE)" />
  <node pkg="nodelet" type="nodelet" name="roi_crop_decimate"
        args="load image_proc/crop_decimate $(arg MANAGER_NAME)" >
    <remap from="camera/image_raw" to="$(arg DECIMATE_CAMERA)$(arg DECIMATE_IMAGE)" />
    <remap from="camera_out/image_raw" to="$(arg DECIMATE_OUTPUT_CAMERA)$(arg DECIMATE_OUTPUT_IMAGE)" />
  </node>
  </group>
</launch>

