<launch>
  <arg name="INPUT" default="/openni/depth_registered/points"/>
  <arg name="COLOR_NAME" default="red"/>
  <node pkg="nodelet" type="nodelet" name="pcl_manager_$(arg COLOR_NAME)"
        args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="passthrough_for_$(arg COLOR_NAME)"
        args="load pcl/PassThrough pcl_manager_$(arg COLOR_NAME)" output="screen">
    <remap from="~input" to="$(arg INPUT)" />
    <remap from="~output" to="/hsv_input_$(arg COLOR_NAME)" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.0
      filter_limit_max: 4.0
      filter_limit_negative: False
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="$(arg COLOR_NAME)_filter"
        args="load jsk_pcl/HSVColorFilter pcl_manager_$(arg COLOR_NAME)" output="screen"
        clear_params="true">
    <remap from="~input" to="/hsv_input_$(arg COLOR_NAME)" />
    <remap from="~output" to="/filtered_$(arg COLOR_NAME)" />
    <rosparam>
      use_indices: false
      h_limit_max: 13
      h_limit_min: -13
      s_limit_max: 255
      s_limit_min: 110
      v_limit_max: 255
      v_limit_min: 25
    </rosparam>
  </node>

  <node pkg="roseus" type="roseus" name="publish_$(arg COLOR_NAME)_centroid"
        args="$(find roseus_tutorials)/src/subscribe-pointcloud.l"
        output="screen" >
    <param name="centroid_frame" value="/$(arg COLOR_NAME)_centroid" />
    <remap from="/camera/depth_registered/points" to="/filtered_$(arg COLOR_NAME)" />
  </node>
</launch>
