<launch>

  <node name="point_pose_extractor" pkg="jsk_perception"
	type="point_pose_extractor">
    <param name="template_filename"
    	   value="$(find opencv2)/build/opencv-svn/samples/cpp/lena.jpg"/>
    <param name="object_width" value="0.1"/>
    <param name="object_height" value="0.1"/>
  </node>

</launch>
