<launch>
  <node name="template_track" pkg="jsk_perception"
	type="matchtemplate.py" output="screen">
    <remap from="reference" to="image_raw" />
    <remap from="search" to="image_raw" />
    <remap from="set_reference_point" to="tracking_result_image/screenpoint" />
    <remap from="debug_image" to="tracking_result_image" />
    <param name="default_template_width" value="30"/>
    <param name="default_template_height" value="30"/>
    <param name="default_search_width" value="60"/>
    <param name="default_search_height" value="60"/>
  </node>
  <node name="template_match_view" pkg="image_view2" type="image_view2" >
    <remap from="image" to="tracking_result_image" />
    <param name="autosize" value="true" />
    <param name="window_name" value="template_match_view (click here to start tracking)" />
  </node>

  <sphinxdoc><![CDATA[
This script start template matching node.
Clink image on "template match view" window to set tracking target.
Use /match_template tab dynamic_reconfigure to configure template size, evaluation method, color space.
  ]]></sphinxdoc>
</launch>
