<launch>
  <include file="$(find roseus_tutorials)/launch/usb-camera.launch" />
  <node name="camera_tf_sender" pkg="tf" type="static_transform_publisher"
	args="0 0 0 0 0 0 base_link camera 100" />
  <include file="$(find roseus_tutorials)/launch/image-view.launch" />
  <include file="$(find roseus_tutorials)/launch/template-track.launch" />
  <include file="$(find roseus_tutorials)/launch/face-detector-mono.launch" />
  <include file="$(find roseus_tutorials)/launch/saliency-track.launch" />
  <include file="$(find roseus_tutorials)/launch/camshiftdemo.launch" />
  <include file="$(find roseus_tutorials)/launch/cmvision.launch" />
  <include file="$(find roseus_tutorials)/launch/checkerboard-pose.launch" />
  <include file="$(find roseus_tutorials)/launch/checkerboard-detector.launch" />
  <include file="$(find roseus_tutorials)/launch/ar-pose.launch" />
  <include file="$(find roseus_tutorials)/launch/point-pose-extraction.launch" />
  <include file="$(find roseus_tutorials)/launch/aques-talk.launch" />
  <include file="$(find roseus_tutorials)/launch/reconfigure-gui.launch" />

  <sphinxdoc><![CDATA[
This script starts all launch file for demo programs
  ]]></sphinxdoc>

</launch>
